mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin2
        div.video-mixin__thumb
            video(src="/" + video.fileUrl)
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                div=video.owner.name
                div #{video.meta.views} views
                    em  • 
                    span.video__createdAt=new Date(video.createdAt).toLocaleDateString("en", { year: 'numeric', month: 'numeric', day: 'numeric'})